<h1>Populate Stations From File</h1>

<div class="row">
  <div class="span6 offset3">
	<%= form_for @station_file, :authenticity_token => false do |f| %>

	  <%= f.label :file %><br />
	  <%= f.file_field :file %><br />

	  <%= f.submit "Create Stations", class: "btn btn-large btn-primary" %>
	<% end %>
  </div>
</div>
