<div class="container-fluid">
  <div class="row">
	<div class="col-md-3">
	  Created by Blake Rainwater
	</div>
	<div class="col-md-3 col-md-offset-3">
	  <a href="https://github.com/brainwater/pbctl">GitHub Page</a>
	</div>
	<div class="col-md-3 col-md-offset-6">
	  Icons used from <a href="http://glyphicons.com/">Glyphicons</a>
	</div>
  </div>
</div>
